nav.navbar {
	img {
	  
	}
	ul {
	  li {
		a[href="./mainpage/adopta2.html"] { content: "Adoptá"; }
	  }
	  li {
		a[href="./mainpage/contacto.html"] { content: "Contacto"; }
	  }
	  li {
		a[href="./mainpage/galeriados.html"] { content: "Galería"; }
	  }
	  li {
		a[href="https://www.google.com"] { content: "Nuestras redes"; }
	  }
	}
  }

  header {
	h1.page-title {

	}
	h2 { 

	 }
  }

  main {

	section {
	  		p  {
			

	nav.pics {
	  a[href="img-one"] {
		img(src="./imagenes/chavs.jpeg", alt="chavela", class="img-one");
	  }
	  a[href="img-two"] {
		img(src="./imagenes/chavs.jpeg", alt="chavela", class="img-two");
	  }
	  a[href="img-three"] {
		img(src="./imagenes/chavs.jpeg", alt="chavela", class="img-three");
	  }
	  a[href="img-four"] {
		img(src="./imagenes/chavs.jpeg", alt="chavela", class="img-four");
	  }
	}
  }
}

footer { 

  }
}
